[submodule "Pepper/vendor/spdlog"]
	path = Pepper/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Pepper/vendor/GLFW"]
	path = Pepper/vendor/GLFW
	url = https://github.com/glfw/glfw.git
